{% extends 'root.twig' %}

{% block title %}
    Purchase List
{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="../../../public/assets/css/purchase-list.css">
{% endblock %}

{% block body %}
    <header>
        <h1>Purchase List</h1>
        <a href="/dashboard">Dashboard</a> / <a href="/purchase-list">Purchase List</a>
    </header>

    <section class="flex justify-between">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-3">
            <div class="cols-span-5">
                <h1>Start Date</h1>
                <input type="date" placeholder="28 Jun, 2022 - 10:00">
            </div>
        
            <div class="cols-span-5">
                <h1>End Date</h1>
                <input type="date" placeholder="30 Jun, 2022 - 10:00">
            </div>
    
            <div class="cols-span-2">
                <button >
                    Search Data
                </button>
            </div>
        </div>
        
        <div>
            Export Data
        </div>
    </section>

    <section class="purchase__list_container_content mt-8 flex-grow">
        Content
    </section>

{% endblock %}
