{% extends 'root.twig' %}

{% block title %}
    Settings Page
{% endblock %}

{% block body %}
    <h1>Welcome to the Settings Page</h1>
    <button class="theme__btn">Change Theme</button>

{% endblock %}
