:root {
    --primary-color: #F1F4F9;
    --secondary-color: #8D8D8D;
    --link: #3F70ED;

    --border-color: #D8D9DB;
    --label-color: #8D8D8D;
    --footer-text: #c9c9c9;
}

body {
    height: 100dvh;
}

.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 70%;
    background-color: #fff;

    position: relative;
}

input:not([type="checkbox"]) {
    /* background: var(--primary-color); */
    padding: 10px;
    border-radius: 10px;

    border: 1px solid var(--border-color);
    outline: none;

    color: #191919;
    font-size: 15px;
}

label {
    color: var(--label-color);
    font-size: 14px;
}

.input__box {
    margin-left: 6px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    background: var(--primary-color);
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--primary-color);
    margin: 0px 5px;
}

button {
    padding: 10px;
    border-radius: 7px;
}

.forgot__password__link {
    font-size: 15px;
    position: relative;
}

.forgot__password__link::before {
    content: ''; /* Add content for pseudo-element */
    position: absolute; /* Position pseudo-element */
    bottom: -2px; /* Adjust to your preference */
    left: 0; /* Start from the left */
    width: 0; /* Initially no width */
    height: 2px; /* Underline thickness */
    background-color: var(--link); /* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition */
}

.forgot__password__link:hover::before {
    width: 100%; /* Expand width to create underline effect */
}

::-ms-reveal {
    display: none;
}

.eye__container {
    color: #191919;
    font-size: 17px;
}


/* Disable the eye icon container */
.disabled {
    pointer-events: none;
}


/* 

    LINE SEPARATOR

*/

.line__separator .line {
    content: '';
    height: 1px;
    background-color: var(--border-color);
    width: 45%;
}

.line__separator #or__separator {
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: bold;
}


/* 

    OAUTH

*/

.oauth__login {
    padding: 12px 25px;
    border: 1px solid var(--border-color);
    border-radius: 15px;

    transition: 300ms all;
}

.oauth__login:hover {
    background-color: var(--primary-color);
}

.oauth__login:hover .oauth__button__contents {
    color: #5a5a5a;
}

.oauth__login .oauth__icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.oauth__button__contents {
    font-size: 14px;
}

@media (max-width: 1500px) {
    .oauth__login {
        padding: 10px;
    }

    .oauth__button__contents {
        font-size: 13px;
    }

    .oauth__login .oauth__icon {
        margin-right: 3px;
    }
}

.oauth__login .oauth__icon > img {
    height: 20px;
}


/* 

    HERO CONTAINER

*/

.hero__container {
    padding: 30px 30px;
}

.img__container {
    height: 100%;
    width: 100%;
    background-color: #3f70ed;

    border-radius: 20px;
}


/* 

    CARD FOOT

*/

.card__foot {
    display: flex;
    justify-content: center;
    margin-top: calc(15%);
}

.card__foot p {
    color: var(--footer-text);
    text-align: center;
    font-size: 10px;
}