.navbar__container {
    height: 90px;
}

.navbar__container .navbar__child_container {
    height: 100%;
}

/* 

    LOGO

*/

.navbar__child_container .logo__container > a {
    font-size: clamp(16px, 1.5vw, 28px);
    font-weight: bold;
}



/* 

    SEARCH INPUT

*/

.navbar__child_container .search__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar__child_container .profile__container > .notification__container {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.navbar__child_container .profile__container > 
.notification__container > .icon__container {
    font-size: 25px;
}
