.purchase__list_container_content {
    /* height: calc(100%); */
    overflow-y: auto;
}

.dark .purchase__list_container_head div div input {
    color-scheme: dark;
}

.purchase__list_container_head div div button .search__icon {
    font-size: 25px;
}

.purchase__list_container_head div .head__button_container {
    place-self: end start;
}

.purchase__list_container_head .content__button_container {
    place-self: end end;
}

.purchase__list_container_head div a button .add__icon {
    font-size: 25px;
}