:root {
    --primary-color: #F1F4F9;
    
    --sidebar-primary-color: #fdfdfd;
    --item-color: #2e2e2e;
    --nav-label: #444444;
    --hover-primary: #D1F7FF;
    --hover-text: #2998FF;

    --subitem-bg-color: #F1F4F9;
    --separator-color: #D8DBE1;

    --dark-hover-primary: #7655fa;
    --dark-hover-text: #704dfd;
}

body {
    height: calc(100dvh - 90px); /*Navbar height*/
    overflow: hidden;
}

.panel__container {
    background-color: var(--primary-color);
    border-radius: 20px 0 0 0;

    padding: 30px 20px;
}

@media (max-width: 1200px) {
    .sidebar__container {
        position: absolute !important;
    }

    .panel__container {
        width: 100vw !important;
    }
}