:root {
    --sidebar-primary-color: #fdfdfd;
    --item-color: #2e2e2e;
    --nav-label: #444444;
    --hover-primary: #D1F7FF;
    --hover-text: #2998FF;

    --subitem-bg-color: #F1F4F9;
    --separator-color: #D8DBE1;

    --dark-hover-primary: #7655fa;
    --dark-hover-text: #704dfd;
}


/* 


    SCROLLBAR STYLES


*/

/* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent track, like Safari's */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners to mimic iPhone's look */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darker thumb on hover */
}


/* 


    SIDEBAR


*/

.sidebar__container {
    overflow-y: auto;
}

.sidebar {
    padding: 0px 20px;
}

.sidebar > .sidebar__ul {
    padding-top: 30px;
}



/* 


    NAVIGATION ITEM


*/


.nav__item {
    padding: 5px;
}
.nav__link {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 10px 10px;
    border-radius: 4px;

    font-size: 17px;
    font-weight: 500;
    color: var(--item-color);

    transition: all 200ms linear;
}

.nav__link:hover {
  background-color: var(--hover-primary);
  color: var(--hover-text);
}

.nav__link_button {
    width: 100%;
}

.nav__link ion-icon {
    font-size: 20px;
    margin-right: 10px;
}




/* 


    NAVIGATION LABELS


*/

.nav__label {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--nav-label);
    font-weight: 700;
    margin: 15px 0 10px 15px;
}






/* 


    COLLAPSIBLE SUBITEMS


*/


.nav__collapse .nav__subitem {
    margin-left: 25px;
}

.nav__collapse .nav__subitem > a {
    font-size: 14px;
}

.nav__subitem .nav__link_subitem {
    display: flex;
    align-items: center;
    cursor: pointer;

    padding: 10px 10px;
    border-radius: 4px;

    font-size: 17px;
    font-weight: 500;
    color: var(--item-color);

    transition: all 200ms linear;
}

.nav__subitem .nav__link_subitem ion-icon {
    font-size: 18px;
    margin-right: 10px;
}


.nav__subitem .nav__link_subitem:hover {
    color: var(--hover-text)
}


.collapsible .arrow {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}
.collapsible.expanded .arrow {
    transform: rotate(90deg);
}
.hidden {
    display: none;
}

/* Default styles */
.nav__link_button {
    background-color: transparent;
}

.expanded__label {
    color: inherit;
}

/* Expanded state */
.nav__link_button.expanded {
    background-color: var(--hover-primary);
}

.nav__link_button.expanded + .nav__collapse {
    background-color: var(--subitem-bg-color);
}

.nav__collapse {
    border-radius: 0px;
}

.nav__link_button.expanded .expanded__label {
    color: var(--hover-text);
}

/* .nav__collapse .separator__line {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--separator-color);
} */





/* 


    DARK MODE


*/

.dark .nav__link_button.expanded {
    background-color: var(--dark-hover-primary);
}

.dark .nav__link_button .nav__subitem .nav__link_subitem:hover {
    color: var(--dark-hover-text);
}