<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PharmaSync{% endblock %}</title>

    <link rel="stylesheet" href="../../../public/assets/css/output.css">
    <link rel="stylesheet" href="../../../public/assets/css/main.css">
    
    <link rel="stylesheet" href="../../../public/assets/css/root.css">

    <link rel="stylesheet" href="../../../public/assets/css/sidebar.css">
    <link rel="stylesheet" href="../../../public/assets/css/navbar.css">

    <script src="../../../public/assets/js/localStorage.js"></script>

    {% block headers %}
    <!-- Stylesheets and other assets will go here -->
    {% endblock %}

</head>
<body class="root__body dark:bg-slate-900">

    <header>
        <nav class="navbar__container dark:bg-slate-900 ">
            {% include 'navbar.html.twig' %}
        </nav>
    </header>

    <main class="grid grid-cols-1 lg:grid-cols-12 h-full">
        <aside class="sidebar__container left lg:col-span-2 dark:!bg-slate-900">
            {% include 'sidebar.html.twig' %}
        </aside> 

        <section class="flex flex-col flex-grow panel__container lg:col-span-10 dark:!bg-gray-700 dark:text-white">
            {% block body %}
            <!-- Page content will go here -->
            {% endblock %}
        </section>
    </main>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
    <script src="../../public/assets/js/sidebar.js"></script>
    <script src="../../../public/assets/js/theme.js"></script>

    {% block scripts %}
    <!-- Scripts will go here -->
    {% endblock %}
</body>
</html>
