/* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    height: 3px; /* Width of the scrollbar */
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent track, like Safari's */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners to mimic iPhone's look */
}

.dark ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Darker thumb on hover */
}