{% extends 'root.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block headers %}
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/link.css">
    <link rel="stylesheet" href="{{ ASSETS_URL }}/css/utility/scrollbar.css">
    <script src="https://kit.fontawesome.com/c3d300ba56.js" crossorigin="anonymous"></script>
{% endblock %}

{% block panel_title %}
    Overview
{% endblock %}

{% set paths = [
    { 'name': 'Dashboard', 'url': '/dashboard' }
] %}

{% block body %}

    <section class="grid sm:grid-cols-6 lg:grid-cols-12 gap-5">
        <div class="grid lg:grid-rows-2 grid-cols-6 col-span-7 lg:col-span-5 gap-4">
            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-clock text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Production Efficiency</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total</h1>
                        <h1 class="font-semibold text-2xl">$98,000.53</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold text-green-500 flex space-x-5">
                            <p><i class="fa-solid fa-arrow-trend-up"></i> 12.4%</p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
    
            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-bars-progress text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Total Orders</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total</h1>
                        <h1 class="font-semibold text-2xl">15,130</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold text-red-500 flex space-x-5">
                            <p><i class="fa-solid fa-arrow-trend-down"></i> 12.4%</p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>

            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-square-poll-vertical text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Sales Performance</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total</h1>
                        <h1 class="font-semibold text-2xl">$98,000.53</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold text-green-500 flex space-x-5">
                            <p><i class="fa-solid fa-arrow-trend-up"></i> 12.4%</p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
    
            <div class="col-span-3 lg:col-span-3 border dark:border-slate-600 border-gray-300  rounded-xl px-5 py-3 text-gray-700 dark:text-[#fdfdfd] bg-white dark:bg-slate-800">
                <span class="flex items-center space-x-2 mb-4">
                    <span class="rounded-full p-1 w-9 h-9 bg-[#F1F4F9] dark:bg-slate-700 flex items-center justify-center">
                        <i class="fa-solid fa-truck text-md text-[#2998FF] dark:text-[#7655fa]"></i>
                    </span>
                    <h1 class="font-semibold text-sm 2xl:text-base">Purchase Frequency</h1>
                </span>
    
                <span class="grid grid-cols-1 space-y-3">
                    <span class="text-start">
                        <h1 class="font-semibold text-[0.600rem] text-slate-500 dark:text-gray-300">Total</h1>
                        <h1 class="font-semibold text-2xl">$98,000.53</h1>
                    </span>
                    <hr class="dark:border-gray-700" />
                    <span class="text-start text-nowrap">
                        <span class="font-semibold text-green-500 flex space-x-5">
                            <p><i class="fa-solid fa-arrow-trend-up"></i> 12.4%</p>
                            <span class="text-gray-500">
                                <small> - This month</small>
                            </span>
                        </span>
                    </span>
                </span>
            </div>
        </div>

        <div class="col-span-7 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-gray-50 border-gray-300 dark:bg-slate-800 space-y-5">
            <h1 class="font-bold text-lg text-gray-700 dark:text-white">Production Trends</h1>
                <canvas id="productionChart" class="!w-full !h-60"></canvas>
        </div>
    </section>
    
    <section class="mt-8 flex flex-col h-full">
        <div class="grid lg:grid-cols-12 gap-10 h-full">
            <div class="col-span-7 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-gray-50 border-gray-300 dark:bg-slate-800 space-y-5">
                <h1 class="font-bold text-lg text-gray-700 dark:text-white">Inventory Distribution</h1>
                <canvas id="barChart" class="!w-full !h-64"></canvas>
            </div>
        
            <div class="col-span-5 px-6 py-3 rounded-lg border-x border dark:border-slate-600 bg-gray-50 border-gray-300 dark:bg-slate-800 space-y-5">
                <h1 class="font-bold text-lg text-gray-700 dark:text-white">N</h1>
            </div>
        </div>
    </section>
    
    <!-- <section class="mt-8 flex flex-col h-full">
        <div class="grid lg:grid-cols-11 gap-10 h-full">
        
            <div class="col-span-7 px-6 py-3 rounded-lg border-x border dark:border-slate-500 bg-gray-50 border-gray-300 dark:bg-slate-600 space-y-5">

            </div>

            <div class="col-span-4 px-6 py-3 rounded-lg border-x border dark:border-slate-500 bg-gray-50 border-gray-300 dark:bg-slate-600 space-y-5">

            </div>

        </div>
    </section> -->


{% endblock %}


{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ ASSETS_URL }}/js/dashboard/charts.js"></script>
{% endblock %}
