<div class="navbar__child_container grid grid-cols-12">

    <!-- Add a toggle button for mobile view -->
    <section class="toggle__container col-span-1 lg:hidden flex justify-center items-center">
        <button class="sidebar__toggle dark:text-white flex items-center">
            <ion-icon name="menu-outline"></ion-icon>
        </button>
    </section>

    <section class="logo__container col-span-2 lg:col-span-2 flex justify-center items-center">
        <a href='/dashboard' class="dark:text-white spacing relative group flex items-center">
            <div class="logo__container_svg_nav"></div>
            <span class="hidden md:block">Pharma<span class="text-[#00CFFE] dark:text-purple-600">Sync</span></span>
            
            <!-- Light mode shine effect -->
            <span class="absolute inset-0 rounded-full bg-[#00CFFE] opacity-0 group-hover:opacity-50 blur-lg group-hover:blur-md transition duration-500 dark:hidden"></span>
            
            <!-- Dark mode shine effect -->
            <span class="absolute inset-0 rounded-full bg-purple-600 opacity-0 group-hover:opacity-50 blur-lg group-hover:blur-md transition duration-500 hidden dark:block"></span>
        </a>
    </section>
    
    

    <section class="search__container col-span-4 lg:col-span-7">
        <form> 
            <div class="relative flex justify-end md:block">
                <button class="absolute w-7 inset-y-0 end-3 md:start-0 flex items-center ps-3">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </button>
                <input type="text" id="search" class="block w-3/12 focus:w-full md:w-full 
                2xl:w-7/12 2xl:focus:w-7/12 
                transition-all duration-300 ease-in-out 
                py-3 md:py-4 px-4 ps-8 md:ps-10 rounded-full border dark:border-gray-700 border-gray-300 
                text-sm text-gray-900 bg-[#F1F4F9] focus:bg-[#ced0d4] dark:bg-gray-700 dark:focus:bg-gray-800 
                dark:placeholder-gray-400 dark:text-white outline-none
                placeholder-transparent md:placeholder-gray-500" 
                placeholder="Search here" required />
            </div>
        </form>
    </section>

    <section class="profile__container col-span-5 lg:col-span-3 flex justify-evenly items-center">
        <!-- Notification Container (30% width) -->
        <div class="notification__container hidden xl:!block border dark:border-gray-700 border-gray-300 
        bg-[#F1F4F9] dark:bg-gray-700 p-4 rounded-xl">
            <div class="icon__container flex justify-center items-center h-full">
                <ion-icon name="notifications-outline" class="text-gray-500 dark:text-[#fdfdfd]"></ion-icon>
            </div>
        </div>

        <!-- Image Container (70% width) -->
        <div class="image__container flex flex-grow-[0.1] justify-center items-center">
            <div id="multiLevelDropdownButton" data-dropdown-toggle="multi-dropdown" 
            class="person__container w-full flex justify-between items-center border dark:border-gray-700 border-gray-300 transition-all duration-200
            bg-[#F1F4F9] hover:bg-[#ced0d4] dark:bg-gray-700 dark:hover:bg-gray-500 rounded-full p-1 pr-3">
                <span class="flex items-center">
                    <img class="rounded-full object-cover w-[40px] h-[40px]" src="https://uploads.dailydot.com/2024/07/side-eye-cat.jpg?q=65&auto=format&w=1600&ar=2:1&fit=crop" alt="Profile Picture">
                    <h2 class="ml-1 hidden md:!block
                    font-bold text-gray-900 dark:text-white">Zucker</h2>
                </span>
                <ion-icon name="chevron-down-outline" class="arrow expanded__label text-gray-500 dark:!text-white"></ion-icon>
            </div>

            <!-- Dropdown menu -->
            <div id="multi-dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="multiLevelDropdownButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown"
                            data-dropdown-placement="right-start" type="button"
                            class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dropdown<svg
                                class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 9 4-4-4-4" />
                            </svg></button>
                        <div id="doubleDropdown"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="doubleDropdownButton">
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Overview</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My
                                        downloads</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Billing</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Rewards</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="/logout" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                            out</a>
                    </li>
                </ul>
            </div>
        </div>

        <button
            class="theme__btn inline-flex relative h-6 w-11 rounded-full bg-gray-200 transition-all duration-300 ease-in-out dark:bg-gray-600 group"
            aria-label="Toggle theme">
                <div class="absolute left-0.5 top-0.5 flex h-5 w-5 items-center justify-center rounded-full bg-white shadow-sm transition-transform duration-300 ease-in-out dark:bg-gray-800 
                    translate-x-5">
                    <svg class="h-3 w-3 text-amber-500" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        fill-rule="evenodd" clip-rule="evenodd">
                    </path>
                    </svg>
                </div>
        </button>
    </section>
</div>