<nav class="sidebar">
    <ul class="sidebar__ul">
        <!-- Dashboard -->
        <li class="nav__item">
            <a href="#" class="nav__link dark:hover:!bg-[#7655fa]">
                <ion-icon name="grid-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                <span class="nav__name dark:text-[#fdfdfd]">Dashboard</span>
            </a>
        </li>

        <li class="nav__label dark:!text-[#fdfdfd]">FINANCES</li>

        <!-- Purchases (Collapsible) -->
        <li class="nav__item">
            <button class="nav__link nav__link_button collapsible justify-between dark:hover:!bg-[#7655fa]" onclick="toggleCollapse('purchases', this)">
                <span class="flex items-center expanded__label">  
                    <ion-icon name="card-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                    <span class="dark:text-[#fdfdfd]">Purchases</span>
                </span>
                <ion-icon name="chevron-forward-outline" class="arrow expanded__label dark:!text-[#fdfdfd]"></ion-icon>
            </button>
            <ul id="purchases" class="nav__collapse hidden dark:!bg-gray-700">
                <li class="nav__subitem">
                    <a href="#" class="nav__link_subitem text-[#2e2e2e] dark:!text-[#fdfdfd] dark:hover:!text-[#b29fff]">
                        <ion-icon name="water-outline"></ion-icon>
                        <span>Material</span>
                    </a>
                </li>
                <li class="nav__subitem">
                    <a href="#" class="nav__link_subitem text-[#2e2e2e] dark:!text-[#fdfdfd] dark:hover:!text-[#b29fff]">
                        <ion-icon name="pulse-outline"></ion-icon>
                        <span>Medicine</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Orders -->
        <li class="nav__item">
            <a href="#" class="nav__link dark:hover:!bg-[#7655fa]">
                <ion-icon name="list-circle-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                <span class="dark:text-[#fdfdfd]">Orders</span>
            </a>
        </li>


        <li class="nav__label dark:!text-[#fdfdfd]">STORAGE</li>

        <!-- Inventory (Collapsible) -->
        <li class="nav__item">
            <button class="nav__link nav__link_button collapsible justify-between dark:hover:!bg-[#7655fa]" onclick="toggleCollapse('inventory', this)">
                <span class="flex items-center expanded__label">
                    <ion-icon name="cube-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                    <span class="dark:text-[#fdfdfd]">Inventory</span>
                </span>
                <ion-icon name="chevron-forward-outline" class="arrow expanded__label dark:!text-[#fdfdfd]"></ion-icon>
            </button>
            <ul id="inventory" class="nav__collapse hidden dark:!bg-gray-700">
                <li class="nav__subitem">
                    <a href="#" class="nav__link_subitem text-[#2e2e2e] dark:!text-[#fdfdfd] dark:hover:!text-[#b29fff]">
                        <ion-icon name="flask-outline"></ion-icon>
                        <span>Manufactured</span>
                    </a>
                </li>
                <li class="nav__subitem">
                    <a href="#" class="nav__link_subitem text-[#2e2e2e] dark:!text-[#fdfdfd] dark:hover:!text-[#b29fff]">
                        <ion-icon name="leaf-outline"></ion-icon>
                        <span>Raw Materials</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Medicine -->
        <li class="nav__item">
            <button class="nav__link nav__link_button collapsible justify-between dark:hover:!bg-[#7655fa]" onclick="toggleCollapse('medicine', this)">
                <span class="flex items-center expanded__label">
                    <ion-icon name="medkit-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                    <span class="dark:text-[#fdfdfd]">Medicine</span>
                </span>
                <ion-icon name="chevron-forward-outline" class="arrow expanded__label dark:!text-[#fdfdfd]"></ion-icon>
            </button>
            <ul id="medicine" class="nav__collapse hidden dark:!bg-gray-700">
                <li class="nav__subitem">
                    <a href="#" class="nav__link_subitem text-[#2e2e2e] dark:!text-[#fdfdfd] dark:hover:!text-[#b29fff]">
                        <ion-icon name="list-outline"></ion-icon>
                        <span>Categories</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav__label dark:!text-[#fdfdfd]">CUSTOMERS</li>

        <!-- Customers -->
        <li class="nav__item">
            <a href="#" class="nav__link dark:hover:!bg-[#7655fa]">
                <ion-icon name="people-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                <span class="dark:text-[#fdfdfd]">Customers</span>
            </a>
        </li>

        <li class="nav__label dark:!text-[#fdfdfd]" id="#important">USERS</li>

        <!-- Users -->
        <li class="nav__item">
            <a href="#" class="nav__link dark:hover:!bg-[#7655fa]">
                <ion-icon name="person-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                <span class="dark:text-[#fdfdfd]">Users</span>
            </a>
        </li>

        <!-- Payroll -->
        <li class="nav__item">
            <a href="#" class="nav__link dark:hover:!bg-[#7655fa]">
                <ion-icon name="clipboard-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                <span class="dark:text-[#fdfdfd]">Payroll</span>
            </a>
        </li>

        <li class="nav__label dark:!text-[#fdfdfd]">CONFIGURATIONS</li>

        <!-- Settings -->
        <li class="nav__item">
            <a href="#" class="nav__link dark:hover:!bg-[#7655fa]">
                <ion-icon name="settings-outline" class="dark:text-[#fdfdfd]"></ion-icon>
                <span class="dark:text-[#fdfdfd]">Settings</span>
            </a>
        </li>
    </ul>
</nav>

<script>
    function toggleCollapse(id, button) {
        const collapseSection = document.getElementById(id);
        collapseSection.classList.toggle('hidden');
        button.classList.toggle('expanded');
    }
</script>
